# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tickets_avia/node_modules
/tickets_avia/.pnp
/tickets_avia/.pnp.js

# testing
/tickets_avia/coverage

# production
/tickets_avia/build

# misc
/tickets_avia.DS_Store
/tickets_avia.env.local
/tickets_avia.env.development.local
/tickets_avia.env.test.local
/tickets_avia.env.production.local

/tickets_avianpm-debug.log*
/tickets_aviayarn-debug.log*
/tickets_aviayarn-error.log*
