# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tickets_avia/node_modules
/tickets_avia/.pnp
/tickets_avia/.pnp.js

# testing
/tickets_avia/coverage

# production
/tickets_avia/build

# misc
/tickets_avia.DS_Store
/tickets_avia.env.local
/tickets_avia.env.development.local
/tickets_avia.env.test.local
/tickets_avia.env.production.local

/tickets_avi/anpm-debug.log*
/tickets_avia/yarn-debug.log*
/tickets_avia/yarn-error.log*


/tickets_avia/redux_version/node_modules
/tickets_avia/redux_version/.pnp
/tickets_avia/redux_version/.pnp.js

# testing
/tickets_avia/redux_version/coverage

# production
/tickets_avia/redux_version/build

# misc
/tickets_avia/redux_version.DS_Store
/tickets_avia/redux_version.env.local
/tickets_avia/redux_version.env.development.local
/tickets_avia/redux_version.env.test.local
/tickets_avia/redux_version.env.production.local

/tickets_avia/redux_version/anpm-debug.log*
/tickets_avia/redux_version/ayarn-debug.log*
/tickets_avia/redux_version/ayarn-error.log*



# dependencies

/marketing_avia/node_modules

/marketing_avia/backend/node_modules
/marketing_avia/client/node_modules
/marketing_avia/client//.pnp
/marketing_avia/client/.pnp.js

# testing
/marketing_avia/client//coverage

# production
/marketing_avia/client//build

# misc
/marketing_avia/client/.DS_Store
/marketing_avia/client/.env.local
/marketing_avia/client/.env.development.local
/marketing_avia/client/.env.test.local
/marketing_avia/client/.env.production.local

/marketing_avia/client/npm-debug.log*
/marketing_avia/client/yarn-debug.log*
/marketing_avia/client/yarn-error.log*




/flask_react/node_modules


/flask_react/frontend/node_modules
/flask_react/frontend/.pnp
/flask_react/frontend/.pnp.js

# testing
/flask_react/frontend/coverage

# production
/flask_react/frontend/build

# misc
/flask_react/frontend/.DS_Store
/flask_react/frontend/.env.local
/flask_react/frontend/.env.development.local
/flask_react/frontend/.env.test.local
/flask_react/frontend/.env.production.local

/flask_react/frontend/npm-debug.log*
/flask_react/frontend/yarn-debug.log*
/flask_react/frontend/yarn-error.log*

