# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tickets_avia/node_modules
/tickets_avia/.pnp
/tickets_avia/.pnp.js

# testing
/tickets_avia/coverage

# production
/tickets_avia/build

# misc
/tickets_avia.DS_Store
/tickets_avia.env.local
/tickets_avia.env.development.local
/tickets_avia.env.test.local
/tickets_avia.env.production.local

/tickets_avi/anpm-debug.log*
/tickets_avia/yarn-debug.log*
/tickets_avia/yarn-error.log*


/tickets_avia/redux_version/node_modules
/tickets_avia/redux_version/.pnp
/tickets_avia/redux_version/.pnp.js

# testing
/tickets_avia/redux_version/coverage

# production
/tickets_avia/redux_version/build

# misc
/tickets_avia/redux_version.DS_Store
/tickets_avia/redux_version.env.local
/tickets_avia/redux_version.env.development.local
/tickets_avia/redux_version.env.test.local
/tickets_avia/redux_version.env.production.local

/tickets_avia/redux_version/anpm-debug.log*
/tickets_avia/redux_version/ayarn-debug.log*
/tickets_avia/redux_version/ayarn-error.log*
