.button-component {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 53px;
    height: 53px;

    /* background-color: #3B5998 !important; */
    border: none;
    border-radius: 50%;
    outline: none;


    transition: transform 0.2s;
    z-index: 100;
    
    font-family: 'Shnobel';
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;

    animation: 2s linear 10s pulse infinite;
}

.btn--vk {
 background-color: #45668E !important;
 animation-delay: .06s;
}

.btn--facebook {
 background-color: #3B5998 !important;
 animation-delay: .125s;
}

.btn--twitter {
 background-color: #00ACED !important;
 animation-delay: .187s;
}

.btn--ok {
 background-color: #EB722E !important;
 animation-delay: .25s;
}

.button-component.button-component--share {
    position: relative;
    padding: 0;
    overflow: visible;
    border-radius: 50%;
}

.button-component.button-component--share:after, .button-component.button-component--share:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.button-component.btn--vk:before {
  background-image: url(../../assets/icons/vk.svg);
}

.button-component:hover {
  animation: none;
  transform: scale(1.15);
  transition: transform .2s;
}


.button-component.button-component--share:after {
  background-image: url(../../assets/icons/heart.svg);
  opacity: 0;
}

.button-component.button-component--share:hover:before {
    opacity: 0
}

.button-component.button-component--share:hover:after {
    opacity: 1
}

.button-component.btn--facebook:before {
  background-image: url(../../assets/icons/facebook.svg);
}

.button-component.btn--twitter:before {
  background-image: url(../../assets/icons/twitter.svg);
}

.button-component.btn--ok:before {
  background-image: url(../../assets/icons/ok.svg);
}


.button-component.button-component--active {
  animation: none;
  position: relative;
  display: inline-block;
  color: #fff;
  -webkit-transition: color .3s;
  -o-transition: .3s color;
  transition: color .3s;
  opacity: 0.3;
}



@keyframes pulse {
  from {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  to {
    transform: scale(0.95);
  }
}